/*
calc(17px - var(--img-height));
*/
:root{
	/* цвета */
	--basic-color: #FF0000;
	/* размеры */
	--height-elm: 3.8em;
	--margin-elm: .5em;
	--height-elm-sum: calc(var(--height-elm) + var(--margin-elm) * 2);
	--height-button: 2em;
	
}
.app2{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	width: 100%;
	height: 100%;
	/*
	display: inline-flex;
	/**/
	/* Временно размеры окна приложения */
	
	/* Временно позиционирование окна приложения */
	/*
	position: absolute;
	/**/
	
	/* Эффекты дизайн */
	/*border: 1px solid green;/**/
	
	
	/*border-radius: 10px;/**/
	background-color: var(--basic-color);
	/*box-shadow: inset 0 0 50px #00000088;/**/
	box-shadow: inset 0px 0px 250px #000000AA;
	color: #fff;
	
}
.elm2{
	min-height: var(--height-elm);
	margin: var(--margin-elm);
	/**
	line-height: var(--height-elm);
	/**/
	/**
	display: flex;
	align-items: center;
	/**/
	/**
	justify-content: center;
	/**/
	/*
	background-color: #FFF3;
	box-shadow: 3px 3px 5px #00000088;
	/**/
	/**/
	border: 1px solid black;
	box-sizing: border-box;
	/**/
}
.app_content{
	min-width: 100%;
	overflow: auto;
	/**/
	scrollbar-width: thin;
	scrollbar-color: #fff #0000;
	/**/
	
	height: calc(100% - var(--height-elm-sum) * 3);
	/*width: 100%;/*scroll: 520px;*/
	border: 1px solid black;
	/*background-color: #000;*/
}


.info{
	height: var(--height-elm);
	/*
	position: absolute;
	bottom: 0px;
	/**/
	/*
	display: table-row;
	vertical-align: bottom;
	/**/
	/*
	grid-row-start: 2;
	grid-row-end: 3;
	/**/
	border: 1px solid black;
	
}


/*
img.avatar{
	border-radius: 50%;
	width: 20px;
	height: 20px;
	float:left;
}/**/
.float_right{
	float:right;
}
.resources{
	border: 2px solid #ccc;
}
.reactions img{
	width: 16px;
	height: 16px;
}


.wallBar{
	border: 1px solid black;
}
.wallBar span{
	color: #3f2;
}

img.avatar2{
	border-radius: 50%;
	
	width: 20px;
	height: 20px;
}

/* W3C standard сейчас только для Firefox */
/**
*{
	scrollbar-width: thin;
	scrollbar-color: blue orange;
}
/**/

/* для Chrome/Edge/Safari */
/**
.app_content::-webkit-scrollbar{
	height: .2em;
	width: .2em;
}
.app_content::-webkit-scrollbar-track{
	background: #0000;
}
.app_content::-webkit-scrollbar-thumb{
	background-color: #fff;
	border-radius: 0px;
	/*border: 3px solid orange;*/
}
/**/





























