/*
calc(17px - var(--img-height));
clamp()
*/
:root{
	/* цвета */
	--basic_color: #08f;
	--text_color: #fff;
	--border_color: #aaa;
	/* размеры */
	--rem: 1rem;
	--height_menu: clamp(10%, var(--rem) * 5, 25%);
	
	--border_size: max(1px, calc(1rem / 16));
	--border: var(--border_size) solid var(--border_color);
	--border_button: var(--border_size) solid var(--text_color);
	--border_size_offset: round(to-zero, var(--border_size), 1px);
	--border_size_hover: calc(var(--border_size) + var(--border_size_offset));
	--border_margin_hover: calc(var(--border_size_offset) * -1);
	
	
	--height_elm: 5rem;/*3.8rem*/
	--margin_elm: .25rem;
	--button_size: 2.5rem;
	
	--svg_size: 1.5rem;
	
	--height_elm_max: 10vh;
	--height_elm_min: 5vh;
	/* размеры переопределенные */
	--height_app: 0;
	--width_app: 0;
	
	
}
a{
	color: var(--text_color);/* Цвет ссылок */
}
a:visited{
	color: #ccc;/* Цвет посещенных ссылок */
}
a:active{
	color: #f00;/* Цвет активных ссылок */
}
svg{
	width: var(--svg_size);
	height: var(--svg_size);
	color: var(--text_color);
}
img{
	width: var(--svg_size);
	height: var(--svg_size);
	/**
	filter: invert(1);
	filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
	/**/
	/**
	filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(246deg) brightness(106%) contrast(101%);
	/**/
	/**
	background-color: red;
	-webkit-mask: url(logo.svg) no-repeat center;
	mask: url(logo.svg) no-repeat center;
	/**/
	
}
.main_container0 *{
	/**/
	outline: 1px solid #000;
	/**/
}
.main_container{
	
	
	margin: 0px;
	padding: 0px;
	/*
	padding: .25rem;
	overflow: hidden;
	/**/
	width: 100%;
	height: 100%;
	--width_app: calc(100% / 10);
	
	
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: thin;
	scrollbar-color: #fff #0000;
	
	
	background-color: var(--basic_color);
	color: var(--text_color);
	/**
	box-shadow: inset 0px 0px 250px #000000AA;
	/**/
	/**/
	display: flex;
	flex-direction: column; 
	/**/
	/**
	display: grid;
	grid-gap: var(--margin_elm);
	grid-auto-rows: var(--height_elm) auto var(--height_elm);
	/**/
}
html{
	/**
	font-size: 1.2em;
	/**/
}
.test{
	background-color: #fff;
	width: calc(var(--height_app) / 10);
	height: calc(var(--height_app) / 10);
	/**
	width: var(--width_app);
	height: var(--width_app);
	/**/
}
.item{
	overflow: hidden;
	/**
	max-height: var(20%);
	/**/
	min-height: var(--height_elm_min);
	height: var(--height_elm);
	/**/
	margin: var(--margin_elm);
	/**/
}
.header{
	display: grid;
	
	/*
	grid-gap: .5rem;
	grid-auto-flow: column;
	grid-template-columns: repeat(auto-fit, minmax(20%, 25%)) var(--button_size);
	grid-template-columns: repeat(auto-fit, minmax(var(--button_size), 100px)) var(--button_size);
	max-height: min(var(--height_elm), 25%);
	min-height: var(--height_elm);
	/**/
	
	padding: 1rem 0px;
	
	grid-template-columns: repeat(auto-fit, minmax(var(--button_size), 20%));
	align-items: center;
	justify-items: space-evenly;
	justify-content: space-evenly;
	/**
	display: flex;
	align-items: center;
	justify-items: center;
	justify-content: space-evenly;/*space-between;*/
	
}
.menu2{
	display: grid;
	/**
	grid-template-columns: 20% repeat(4, 15%) var(--button_size);
	/**/
	
	padding: 1rem 4%;
	
	grid-template-columns: repeat(auto-fit, minmax(var(--button_size), calc(100% / 7)));
	
	align-items: center;
	justify-items: space-evenly;
	justify-content: space-evenly;
	border-bottom: var(--border);
}
.menu2 > *:first-child{
	grid-column: span 2;
}
.menu{
	display: grid;
	
	padding: 1rem 4%;
	grid-template-columns: repeat(auto-fit, minmax(var(--button_size), calc(100% / 7)));
	align-items: center;
	justify-items: space-evenly;
	justify-content: space-evenly;
	border-bottom: var(--border);
	
}
.menu > *:first-child{
	grid-column: span 4;
}
.b_m{
	grid-column: span 2;
}


.group{
	display: grid;
	padding: 1rem 4%;
	grid-template-columns: repeat(auto-fit, minmax(var(--button_size), calc(100% / 7)));
	align-items: center;
	justify-items: space-evenly;
	justify-content: space-evenly;
	border-bottom: var(--border);
}

.content{
	min-height: 40%;
	
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-gutter: stable;
	/**
	direction:rtl;
	/**/
	/* 11 в хроме 8 в лисе *
	scrollbar-width: thin;
	/**/
	/**/
	
	scrollbar-color: #fff #0000;
	/**/
	/**
	min-width: calc(100% + 10px);
	/**/
	
	flex-grow: 2;
	flex-shrink: 2;
	border-bottom: var(--border);
}
.content div{
	/**
    direction:ltr;
	/**/
	min-width: calc(92% + 16px);
}
/**
.content::-webkit-scrollbar {
    width: 5px;
	background-color: #888;
}
/**/
/**
.content::-webkit-scrollbar-track {
    background-color: #888;
}
/**/
/**
.content::-webkit-scrollbar-thumb {
    background-color: #888;
}
/**/


.post{
	display: grid;
	padding: 1rem 4%;
	
	/**
	min-width: calc(92% + 10px);
	grid-template-columns: 20% repeat(4, 15%) var(--button_size);
	/**/
	grid-template-columns: repeat(auto-fit, minmax(var(--button_size), calc(100% / 7)));
	
	align-items: center;
	justify-items: space-evenly;
	/**
	align-content: space-evenly;
	/**/
	justify-content: space-evenly;
	border-bottom: var(--border);
	
}
.next{
	text-align: center;
	padding: 1rem 4%;
	border-bottom: var(--border);
}

.search_next{
	/**
	border:10px solid #fff;
	/**/
	/**
	background-color: #f00;
	min-height: var(--height_elm_min);
	clip-path: polygon(
		0% 0%,
		100% 0%,
		50% 100%
	)
	/**/
	/**
	clip-path: polygon(
		calc(4% + 16px) 0%,
		calc(96% - 16px) 0%,
		calc(96% - 16px) 40%,
		calc(50% - 8px) 100%,
		calc(4% + 16px) 40%
	)
	/**/
}
.search_nextX:before {
	left:-1px;
	top:-1px;
	content:'';
	
	border-bottom: 40px solid silver;
	border-right: 70px solid transparent;
}
.search_nextX:after {
	left:-2px;
	top:-2px;
	content:'';
	border-top: 70px solid white;
	border-right: 70px solid transparent;
}
img.avatar2{
	border-radius: 50%;
	width: 50px;
	height: 50px;
	
	/**
	grid-row: span 2;
	grid-row: 1 / 3;
	margin: auto;
	/**/
	/**/
	grid-column: span 2;
	/**/
	
}
img.avatar3{
	border-radius: 50%;
	width: 50px;
	height: 50px;
	grid-column: span 2;
}
.group_name{
	grid-column: span 2;
}
.button_v2x{
	grid-row: span 2;
}

.button_item{
	grid-column: 6;
	grid-row: 1 / 4;
}
.text_item{
	/**/
	grid-column: span 3;
	/**/
}
.date_item{
	grid-column: span 3;
	text-align: center;
}
.reactions_item{
	grid-column: 1;
	display: grid;
	
	grid-template-columns: repeat(12, 8%);
	align-items: center;
	justify-items: center;
	
}
.reactions_item img{
	height: 1.5rem;
}

.footer{
	overflow: hidden;
	padding: .25rem;
	min-height: 1.3rem;
	max-height: 1.3rem;
	/**
	padding: .5rem;
	/**/
}


.button_right{
	
	justify-self: end;
	/**
	grid-column: -1;
	grid-row: -1;
	/**/
}

.button{
	min-height: var(--button_size);
	min-width: var(--button_size);
	line-height: var(--button_size);
	text-align: center;
	
	cursor: pointer;
	border: var(--border_button);
	/* верхнего, правого, нижнего и левого */
	padding: 0px var(--border_size_offset) var(--border_size_offset) 0px;
	
	
	
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
@media (hover: hover){
	.button:hover{
		padding: var(--border_size_offset) 0px 0px var(--border_size_offset);
		border-width: var(--border_size_hover);
		margin: var(--border_margin_hover);
	}
}
/**
@media (hover: hover) and (pointer: fine) {
	.button:hover{
		padding: 1px 0px 0px 1px;
		border-width: 2px;
		margin: -1px;
	}
}

@media (hover: none), (pointer: coarse) {
	.button:hover{
		/* Стили специфичные для сенсорного взаимодействия 
	}
}
/**/

.button_svg{
	
	text-align: center;
	
	cursor: pointer;
	/**/
	border-bottom: var(--border_button);

	/**/
	/* верхнего, правого, нижнего и левого */
	padding: 0px var(--border_size_offset) var(--border_size_offset) 0px;
	
	
	
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
@media (hover: hover){
	.button_svg:hover{
		padding: var(--border_size_offset) 0px 0px var(--border_size_offset);
		/**/
		border-width: var(--border_size_hover);
		/**/
		margin: var(--border_margin_hover);
	}
}


















