<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>template HTML5</title>
		<link rel="icon" type="image/x-icon" href="url" />
		<link rel="stylesheet" href="url">
		<style>
			
		</style>
		<script src="url"></script>
		<script>
			function test(){
				out("test");
			}
			function out(text){
				document.getElementById("out").innerHTML = text;
			}
		</script>
	</head>
	<body>
		<input type="button" onclick="test()" value="test" />
		<br>
		<span id="out">out</span>
	</body>
</html>
