:root{
	/* цвета */
	--basic-color: #888;
	--head-color: #bbb;
	--menu-color: #585858;
	--action-color: #ccc;
	--text-color: #222;
	/* размеры */
	--edge-margin: 20px;
	--corner-radius: 20px;
	--img-height: 100px;
	--head-height: 25px;
	--photos-menu-height: calc(var(--img-height) + var(--head-height));
	--canvas-top: calc(var(--edge-margin) * 2 + var(--photos-menu-height));
	--shaders-menu-width: 460px;
	--right-edge: calc(var(--edge-margin) * 2 + var(--shaders-menu-width));
	--button-delet-top: calc(17px - var(--img-height));
}

body{
	background-color: var(--basic-color);
	margin: 0px;
	padding: 0px;
}

#canvas{
	background-color: var(--menu-color);
	position: absolute;
	margin: 0px;
	top: var(--canvas-top);
	left: var(--edge-margin);
	height: calc(100% - (var(--canvas-top) + var(--edge-margin)));
	width: calc(100% - (var(--right-edge) + var(--edge-margin)));
}

/* Меню загрузки картинок */
#uploaded_photos_menu{
	position: absolute;
	overflow: hidden;
	border-radius: var(--corner-radius);
	height: var(--photos-menu-height);
	top: var(--edge-margin);
	left: var(--edge-margin);
	right: var(--right-edge);
}
#uploaded_photos_head{
	background-color: var(--head-color);
	box-sizing: border-box;
	height: var(--head-height);
	width: 100%;
	padding: 3px 25px 0px 25px;
}
#uploaded_photos_img_view{
	background-color: var(--menu-color);
	height: var(--img-height);
	width: 100%;
	overflow: hidden;
	overflow-x: auto;
	white-space: nowrap;
}
#uploaded_photos_img_view span:first-child img{
	border-bottom-left-radius: var(--corner-radius);
}
#uploaded_photos_button{
	cursor: pointer;
	display: inline-block;
	border: 1px solid #444;
	color: var(--text-color);
	height: 17px;
	margin: 0px;
	padding: 0px 3px 1px 3px;
	
}
#uploaded_photos_button:hover{
	padding: 0px 2px 1px 4px;
	border: 1px solid #000;
	background-color: var(--action-color);
	color: #000;
}
img{
	cursor: pointer;
	height: var(--img-height);
	outline-offset: -1px;
}

img:hover{
	outline: 1px solid var(--action-color);
}
.button_delet{
	position: relative;
	cursor:pointer;
}
.button_delet:before{
	color: var(--head-color);
	content: "×";
	position: absolute;
	height: 20px;
	width: 20px;
	top: var(--button-delet-top);/*-83px;*/
	right: 3px;
	font-size: 20px;
	text-align: center;
	line-height: 20px;
}
.button_delet:hover:before{
	outline: 1px solid var(--action-color);
}

/* Меню шейдеров */
#shaders_menu{
	background-color: var(--menu-color);
	position: absolute;
	overflow: hidden;
	border-radius: var(--corner-radius);
	top: var(--edge-margin);
	bottom: var(--edge-margin);
	right: var(--edge-margin);
	width: var(--shaders-menu-width);
}
#shaders_head{
	background-color: var(--head-color);
	box-sizing: border-box;
	height: var(--head-height);
	width: 100%;
	text-align: center;
	color: var(--text-color);
	padding-top: 3px;
}
#shaders_content{
	width: var(--shaders-menu-width);
	height: calc(100% - var(--head-height));
	overflow: auto;
}
.name_shader{
	background-color: var(--head-color);
	color: var(--text-color);
	padding: 0px 0px 0px 2px;
	margin: 0px;
	height: var(--head-height);
	box-sizing: border-box;
	border-top: 2px solid #222;
}
.name_shader:hover{
	padding: 0px 2px 1px 4px;
	border: 1px solid #000;
	background-color: var(--action-color);
	color: #000;
}
.code_shader{
	display: none;
	background-color: #fff;
	color: #000;
	height: auto;
	resize: none;
	overflow: auto;
	word-wrap: normal;
	padding: 0px 0px 0px 2px;
	margin: 0px;
}

/* вывод информации */
#info{
	position: absolute;
	bottom: 0px;
	padding: 0px 0px 0px 2px;
	margin: 0px;
}





















