<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rx200.mapprototype">

    <!-- Always include this permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Required only when requesting background location access on
           Android 10 (API level 29) and higher. -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!-- FOREGROUND_SERVICE -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- TEST -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:label="MapPrototype"
        android:name=".G">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".ProviderGPS"
            android:foregroundServiceType="location"
            >
        </service>
        <receiver android:name=".ReceiverExit"  android:exported="false">
            <intent-filter>
                <!-- The actions you wish to listen to, below is an example -->
                <action android:name="rx200.mapprototype.EXIT"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>