BODY{
	/*background-color: #000; /*#fc0;/* Цвет фона */
	/*color: #fff; /*Цвет текста*/
}
#left,#right{
	background-color: #CCC;
	display: inline-block;
	width: 25%;
	height: 100%;
	overflow-y: auto;
}
#left{
	float: left;
}
#right{
	float: right;
}
#center{
	background-color: #FFF;
	display: inline-block;
	width: 50%;
	height: 100%;
	
}
CANVAS{
	background-color: #000;
	display: block;
	position: relative;
	margin-left: auto;
    margin-right: auto;
	top: 10%;
	width: 480px;
	height: 800px;
}
